/* dissenymalda.cat-v15 -css
========================================== */

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================
ESTILS GLOBALS
========================================== */

/* Box-sizing: border-box */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/* clearfix */
.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}


/* definim tipo global Open Sans, eliminem margins i paddings per defecte i definim variable color corporatiu */
body {
  font-family: 'Open Sans', sans-serif;
  --granate: rgb(110, 43, 46);
  margin: 0;
  padding: 0;
}


/** FONT-SIZES **/

html {
  font-size: 16px;
}

h2 {
  font-size: 3rem; /* 48px */
  font-weight: bold;
  color: var(--granate);
  text-align: center;
  text-transform: none;
  margin: 0;
  padding: 0;
}
h2 span {
  text-transform: uppercase;
}

h3 {
  font-size: 2rem; /* 32px */
  font-weight: bold;
  color: var(--granate);
  text-align: left;
  text-transform: none;
  margin: 0;
  padding: 0;
}
h3 span {
  text-transform: uppercase;
}

h4 {
  font-size: 1.5rem; /* 24px */
  font-weight: bold;
  color: var(--granate);
  text-align: left;
  text-transform: none;
  margin: 0;
  padding: 0;
}
h4 span {
  text-transform: uppercase;
}

h5 {
  font-size: 1.25rem; /* 20px */
  font-weight: bold;
  color: var(--granate);
  text-align: left;
  text-transform: none;
  margin: 0;
  padding: 0;
}
h5 span {
  text-transform: uppercase;
}

p {
  font-size: 14px; /* 14px = 0.875rem */
  line-height: 18px; /* 18px = 1.125rem */
  font-weight: regular;
  color: rgb(0, 0, 0);
  text-align: left;
  margin: 0;
  padding: 0;
}
p span {
  font-weight: bold;
  color: var(--granate);
  text-transform: uppercase;
}

/* Media queries s/html font-size */

/* mq 992px = 62rem */
@media only screen and (max-width:992px) {
  html {
    font-size: 14px;
  }
  p {
    font-size: 13px!important;
    line-height: 16.7px!important;
  }
}

/* mq 768px = 48rem */
@media only screen and (max-width:768px) {
  html {
    font-size: 12px;
  }
  p {
    font-size: 12px!important;
    line-height: 15.4px!important;
  }
}

/* mq 600px = 37.5rem */
@media only screen and (max-width:600px) {
  html {
    font-size: 10px;
  }
  p {
    font-size: 12px!important;
    line-height: 15.4px!important;
  }
}

/* mq 480px = 30rem */
@media only screen and (max-width:480px) {
  html {
    font-size: 8px;
  }
  p {
    font-size: 12px!important;
    line-height: 15.4px!important;
  }
}


/* Altres estils genèrics */

li {
  list-style: none;
}



/** ==================================
Estructura genèrica SECCIONS i DIVs
=================================== **/

section.seccio {
  margin: 0;
  padding: 0;
  height: auto;
}

div.div-seccio {
  padding: 1.25rem 3.125rem; /* 1.25rem = 20px, 3.125rem = 50px */
}

div.titol, div.contingut {
  margin: 0;
  padding: 0;
}

div.titol h3 {
  margin: 0;
  padding: 1.25rem 1.875rem 0 1.875rem; /* 1.25rem = 20px, 1.875rem = 30px */
}



/* =====================================
ESTILS LOCALS
===================================== */

/*** A. HEADER #############################***/

header {
  margin: 0;
  padding: 0;
}

/** Parallax **/

.parallax::before {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

section.butaques {
  position: relative;
  height: 100vh;
}
section.butaques::before {
  background-image: url(../img/DSC_0905-ButaquesTaula-modif-1200-retall.jpg);
  background-position: bottom center;
  background-size: cover;
  content: '';
}

.div-header {
  position: relative;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

/* BARRA NAVEGACIÓ x MÒBIL */

nav.barra-mobil {
  border-top: 2px solid var(--granate);
  height: auto;
  width: 100%;
  margin: 0;
  padding: 0.5rem 0.5rem 0.8rem 0.5rem;
  background-color: rgba(240, 240, 240, 0.8);
  position: fixed;
  z-index: 1;
  text-align: center;
}

nav.barra-mobil a {
  display: inline-block;
  color: var(--granate);
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  font-size: 1.2rem!important;
  font-weight: bold;
  padding: 0.625rem 1.2rem;
  transition: all .5s ease-in-out;
}

/* icones xxss una mica més grans */
.xxss {
  font-size: 1.5rem!important;
}

/* efecte hover */
nav.barra-mobil a:hover {
  color: rgb(169, 169, 169);
}


/** Logo superior Versió mòbil **/

div.top-mobil {
  height: auto;
  width: 40%;
  margin: 0 auto;
  padding-top: 7.5rem;
}

div.top-mobil img {
  max-width: 100%;
  height: auto;
}

div.bottom-mobil {
  position: absolute;
  bottom: 0;
  left: 5%;
  width: 90%;
  padding: 2.5rem 0;
  display: grid;
  grid-template-columns: 100%;
}
div.bottom-mobil h2{
  color: rgb(255, 255, 255);
  text-align: center;
}

/* media query per ocultar menús mòbil 600px = 37.5rem */
@media only screen and (min-width:600px) {
  nav.barra-mobil,
  div.top-mobil {
    display: none;
  }
  div.bottom-mobil {
    display: none;
  }
}


/** Versió ordinador **/

/* BARRA NAVEGACIÓ x PANTALLA GRAN */

div.top-laptop {
  border-top: 2px solid var(--granate);
  height: auto;
  width: 100%;
  margin: 0;
  padding: 0.2rem 5rem 0.5rem 5rem; /* 5rem = 80px */
  background-color: rgba(240, 240, 240, 0.8);
  position: fixed;
  z-index: 1;
}


/* MENÚ NAVEGACIÓ PRINCIPAL */

nav.navegacio-principal {
  display: block;
  float: left;
}
nav.navegacio-principal a {
  display: inline-block;
  color: var(--granate);
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  font-size: 0.9rem;
  font-weight: bold;
  padding: 0.625rem 1.875rem 0 1.875rem; /* 10px 30px 0 0 */
  transition: all .5s ease-in-out;
}

/* efecte hover */
nav.navegacio-principal a:hover {
  color: rgb(169, 169, 169);
}

/* Xarxes socials */

nav.xarxes {
  display: block;
  float: right;
}

nav.xarxes a {
  display: inline-block;
  color: var(--granate);
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  font-size: 1.35rem;
  padding: 0.3125rem 1.875rem 0 1.875rem;
  transition: all .5s ease-in-out;
}
nav.xarxes a:hover {
  color: rgb(255, 255, 255);
}

/* MQs: per <992 */
@media only screen and (max-width:992px) and (orientation:landscape) {
  div.top-laptop {
    padding: 0.2rem 3rem 0.5rem 3rem;
  }
  nav.navegacio-principal a {
    font-size: 0.8rem;
    padding: 0.625rem 1.2rem 0 1.2rem;
  }
  nav.xarxes a {
    font-size: 1.2rem;
    padding: 0.3125rem 1.2rem 0 1.2rem;
  }
}

/* MQs: per tamanys més petits: barra navegació a dalt i xarxes a sota */
@media only screen and (max-width:600px) and (orientation:landscape)  {
  nav.navegacio-principal {
    display: block;
    text-align: center;
    float: none;
  }
  nav.navegacio-principal a {
    padding: 0.625rem 0.9375rem 0 0.9375rem;
  }
  nav.xarxes {
    display: block;
    text-align: center;
    float: none;
  }
  nav.xarxes a {
    padding: 0.625rem 0.9375rem 0 0.9375rem;
  }
}


/* Bottom: Logo + Destacat */

div.bottom-laptop {
  position: absolute;
  bottom: 0;
  margin: 1.25rem 5%;
  height: 40%;
  width: 90%;
  padding: 1.25rem 3.125rem; /* 20px 50px */
  display: grid;
  grid-template-columns: 25% 75%;
}

img.logo {
  max-height: 100%!important; /* IMPRESCINDIBLE !! */
  width: auto;
}

div.destacado{
  float: left;
  margin-bottom: 0;
  margin-left: 0;
  padding: 0 1rem;
  align-self: end;
}

div.destacado h2{
  color: rgb(255, 255, 255);
  text-align: center;
}

/** Media queries < 600px **/

@media only screen and (max-width:600px) and (orientation:landscape) {
  div.top-laptop,
  div.bottom-laptop {
    display: none;
  }
}

/* Ajustos formats verticals tablets */
@media only screen and (orientation:portrait) {
  div.top-laptop,
  div.bottom-laptop {
    display: none;
  }
  nav.barra-mobil,
  div.top-mobil,
  div.bottom-mobil {
    display: block;
  }
}

/* Ajustos formats horitzontals mòbils */
@media only screen and (orientation:landscape) {
  div.top-laptop {
    display: block;
  }
  img.logo,
  div.destacado {
    display: block;
  }
  nav.barra-mobil,
  div.top-mobil,
  div.bottom-mobil {
    display: none;
  }
}


/*** ANIMACIÓ CADIRES QUE CAUEN ############***/


/** CONJUNT 2 **/

#conjunt-2 {
  display: none;
}

/* div.container permet controlar la rotació de div.flip-container, i div.escenari permet col·locar tot el conjunt a discreció */

/* Assignem animació de la galeta aquí !! */
#escenari-2 {
  position: fixed;
  z-index: 1;
  top: -45vh;
  right: 20vh;
  /* animation: ani-tarima-2 12s ease-in 2s both; /* ease-in: inici lent, final ràpid
  -webkit-animation: ani-tarima-2 12s ease-in 2s both;
  -moz-animation: ani-tarima-2 12s ease-in 2s both; */
}

@keyframes ani-tarima-2 {
  /* Durada de les caigudes: 0.25 segons */
  0% {top: -45vh;} /* Inici: fora per dalt */
  2.08% {top: 20vh;} /* 0.25s: a lloc */
  97.92% {top: 20vh;} /* 11.75s: cau la tarima */
  100% {top: 105vh;} /* 12s: va a petar per sota la pantalla */
}
@-webkit-keyframes ani-tarima-2 {
  0% {top: -45vh;} /* Inici: fora per dalt */
  2.08% {top: 20vh;} /* 0.25s: a lloc */
  97.92% {top: 20vh;} /* 11.75s: cau la tarima */
  100% {top: 105vh;} /* 12s: va a petar per sota la pantalla */
}
@-moz-keyframes ani-tarima-2 {
  0% {top: -45vh;} /* Inici: fora per dalt */
  2.08% {top: 20vh;} /* 0.25s: a lloc */
  97.92% {top: 20vh;} /* 11.75s: cau la tarima */
  100% {top: 105vh;} /* 12s: va a petar per sota la pantalla */
}

.container-2 {
  position: relative;
  height: 40vh;
  width: 40vh;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  perspective: 133.33vh; /* Dóna la inclinació inicial */
}

/* entire container, keeps perspective */
.flip-container-2 {
  transform-style: preserve-3d;
  transform: rotateX(80deg);
	perspective: 133.33vh;
}

/* Escenari-2: hover desactivat --> funciona per animació */
#flipper-2 {
  /* animation: ani-flip-2 12s ease-in 2s both; /* ease-in: inici lent, final ràpid
  -webkit-animation: ani-flip-2 12s ease-in 2s both;
  -moz-animation: ani-flip-2 12s ease-in 2s both;*/
  transform-style: preserve-3d;
	position: relative;
}

@keyframes ani-flip-2 {
  0% {transform: rotateX(0deg);}
  50% {transform: rotateX(0deg);} /* 6s: cauen les dues cadires i s'inicia la rotació */
  54.17% {
    transform: rotateX(-580deg); /* 580 = 220 + 360 */
    transform-origin: 100% 20vh;
  } /* 6.5s: rotació tarda mig segon */
  100% {
    transform: rotateX(-580deg);
    transform-origin: 100% 20vh;
  }
}
@-webkit-keyframes ani-flip-2 {
  0% {transform: rotateX(0deg);}
  50% {transform: rotateX(0deg);} /* 6s: cauen les dues cadires i s'inicia la rotació */
  54.17% {
    transform: rotateX(-580deg); /* 580 = 220 + 360 */
    transform-origin: 100% 20vh;
  } /* 6.5s: rotació tarda mig segon */
  100% {
    transform: rotateX(-580deg);
    transform-origin: 100% 20vh;
  }
}
@-moz-keyframes ani-flip-2 {
  0% {transform: rotateX(0deg);}
  50% {transform: rotateX(0deg);} /* 6s: cauen les dues cadires i s'inicia la rotació */
  54.17% {
    transform: rotateX(-580deg); /* 580 = 220 + 360 */
    transform-origin: 100% 20vh;
  } /* 6.5s: rotació tarda mig segon */
  100% {
    transform: rotateX(-580deg);
    transform-origin: 100% 20vh;
  }
}

/* flip speed goes here */
.flipper-2 {
	transition: 0.6s;
	transform-style: preserve-3d;
	position: relative;
}

/* Dimensions de la galeta */
.flip-container-2, .front-2, .back-2 {
  border-radius: 50%;
	width: 40vh;
	height: 50.66vh;
}

.front-2 {
	background-image: url(../img/0883-Tarima-clara-500x500.jpg);
}

/* Dors comú pels dos escenaris */
.back-2 {
	background-color: var(--granate);
}

/* hide back of pane during swap */
.front-2, .back-2 {
	backface-visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
}

/* front pane, placed above back */
.front-2 {
	z-index: 2;
	/* for firefox 31 */
	transform: rotateX(0deg);
}

/* back, initially hidden pane */
.back-2 {
	transform: rotateX(180deg);
  background-color: var(--granate);
  display: table;
}

/* Text dors */
.text-back {
  display: table-cell;
	vertical-align: middle;
}
.back-2 h3 {
  font-size: 3.5vh;
  padding: 7vh;
  color: rgb(255, 255, 255);
  text-align: center;
}

/* Cadires */
.cadira-escenari-2 {
  width: 33.33vh;
}
.cadira-escenari-2 img {
  max-width: 100%;
}

#cadira-21 {
  position: fixed;
  /* top: 18.5vmin; */
  right: 29.5vh;
  top: -45vh;
  z-index: 2;
  /* animation: ani-cad-21 12s ease-in 2s both; /* ease-in: inici lent, final ràpid
  -webkit-animation: ani-cad-21 16s ease-in 2s both;
  -moz-animation: ani-cad-21 16s ease-in 2s both; */
}
@keyframes ani-cad-21 {
  /* Durada de les caigudes: 0.25 segons */
  0% {top: -45vh;} /* Inici: fora per dalt */
  16.67% {top: -45vh;} /* Comença a caure als 2 segons */
  18.75% {top: 18.5vh;} /* 2.25s Tarda en caure 0.25s */
  50% {top: 18.5vh;} /* 6s: cau la tarima */
  52.08% {top: 105vh;} /* 6.25s Tarda un quart de segon en caure */
  100% {top: 105vh;} /* 12s: va a petar per sota la pantalla */
}
@-webkit-keyframes ani-cad-21 {
  /* Durada de les caigudes: 0.25 segons */
  0% {top: -45vh;} /* Inici: fora per dalt */
  16.67% {top: -45vh;} /* Comença a caure als 2 segons */
  18.75% {top: 18.5vh;} /* 2.25s Tarda en caure 0.25s */
  50% {top: 18.5vh;} /* 6s: cau la tarima */
  52.08% {top: 105vh;} /* 6.25s Tarda un quart de segon en caure */
  100% {top: 105vh;} /* 12s: va a petar per sota la pantalla */
}
@-moz-keyframes ani-cad-21 {
  /* Durada de les caigudes: 0.25 segons */
  0% {top: -45vh;} /* Inici: fora per dalt */
  16.67% {top: -45vh;} /* Comença a caure als 2 segons */
  18.75% {top: 18.5vh;} /* 2.25s Tarda en caure 0.25s */
  50% {top: 18.5vh;} /* 6s: cau la tarima */
  52.08% {top: 105vh;} /* 6.25s Tarda un quart de segon en caure */
  100% {top: 105vh;} /* 12s: va a petar per sota la pantalla */
}

#cadira-22 {
  position: fixed;
  top: -45vh;
  right: 14vh;
  z-index: 2;
  /* animation: ani-cad-2 12s ease-in 2s both; /* ease-in: inici lent, final ràpid
  -webkit-animation: ani-tarima 16s ease-in 2s both;
  -moz-animation: ani-tarima 16s ease-in 2s both; */
}
@keyframes ani-cad-22 {
  /* Durada de les caigudes: 0.25 segons */
  0% {top: -45vh;} /* Inici: fora per dalt */
  33.33% {top: -45vh;} /* Comença a caure als 4 segons */
  35.42% {top: 18.5vh;} /* 4.25s Tarda en caure 0.25s */
  50% {top: 18.5vh;} /* 6s: cau la tarima */
  52.08% {top: 105vh;} /* 6.25s Tarda un quart de segon en caure */
  100% {top: 105vh;} /* 12s: va a petar per sota la pantalla */
}
@-webkit-keyframes ani-cad-22 {
  /* Durada de les caigudes: 0.25 segons */
  0% {top: -45vh;} /* Inici: fora per dalt */
  33.33% {top: -45vh;} /* Comença a caure als 4 segons */
  35.42% {top: 18.5vh;} /* 4.25s Tarda en caure 0.25s */
  50% {top: 18.5vh;} /* 6s: cau la tarima */
  52.08% {top: 105vh;} /* 6.25s Tarda un quart de segon en caure */
  100% {top: 105vh;} /* 12s: va a petar per sota la pantalla */
}
@-moz-keyframes ani-cad-22 {
  /* Durada de les caigudes: 0.25 segons */
  0% {top: -45vh;} /* Inici: fora per dalt */
  33.33% {top: -45vh;} /* Comença a caure als 4 segons */
  35.42% {top: 18.5vh;} /* 4.25s Tarda en caure 0.25s */
  50% {top: 18.5vh;} /* 6s: cau la tarima */
  52.08% {top: 105vh;} /* 6.25s Tarda un quart de segon en caure */
  100% {top: 105vh;} /* 12s: va a petar per sota la pantalla */
}



/** CONJUNT 3 **/

#conjunt-3 {
  display: none;
}

/* Escenari dret: posició fixa a la dreta */
/* Assignem animació de la galeta aquí !! */
#escenari-3 {
  position: fixed;
  z-index: 1;
  top: -40vh;
  right: 25vw;
  /* animation: ani-tarima 12s ease-in 2s both; /* ease-in: inici lent, final ràpid
  -webkit-animation: ani-tarima 12s ease-in 2s both;
  -moz-animation: ani-tarima 12s ease-in 2s both; */
}

@keyframes ani-tarima-3 {
  /* Durada de les caigudes: 0.25 segons */
  0% {top: -40vh;} /* Inici: fora per dalt */
  2.08% {top: 50vh;} /* 0.25s: a lloc */
  97.92% {top: 50vh;} /* 11.75s: cau la tarima */
  100% {top: 105vh;} /* 12s: va a petar per sota la pantalla */
}
@-webkit-keyframes ani-tarima-3 {
  0% {top: -40vh;} /* Inici: fora per dalt */
  2.08% {top: 20vh;} /* 0.25s: a lloc */
  97.92% {top: 20vh;} /* 11.75s: cau la tarima */
  100% {top: 105vh;} /* 12s: va a petar per sota la pantalla */
}
@-moz-keyframes ani-tarima-3 {
  0% {top: -40vh;} /* Inici: fora per dalt */
  2.08% {top: 20vh;} /* 0.25s: a lloc */
  97.92% {top: 20vh;} /* 11.75s: cau la tarima */
  100% {top: 105vh;} /* 12s: va a petar per sota la pantalla */
}

.container-3 {
  position: relative;
  height: 50vw;
  width: 50vw;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  perspective: 166vw; /* Dóna la inclinació inicial */
}


/* entire container, keeps perspective */
.flip-container-3 {
  transform-style: preserve-3d;
  transform: rotateX(80deg);
	perspective: 166vw;
}

/* flip the pane when hovered */
/* Si variem els valors de perspective de dalt --> haurem de modificar el valor de rotateX perquè quedi vertical
.flip-container:hover .flipper, .flip-container.hover .flipper {
	transform: rotateX(-220deg); /* 580 = 220 + 360
  transform-origin: 100% 150px;
}
*/

/* Escenari-3: hover desactivat --> funciona per animació */
#flipper-3 {
  /* animation: ani-flip 12s ease-in 2s both; /* ease-in: inici lent, final ràpid
  -webkit-animation: ani-flip 12s ease-in 2s both;
  -moz-animation: ani-flip 12s ease-in 2s both;*/
  transform-style: preserve-3d;
	position: relative;
}

@keyframes ani-flip-3 {
  0% {transform: rotateX(0deg);}
  50% {transform: rotateX(0deg);} /* 6s: cauen les dues cadires i s'inicia la rotació */
  54.17% {
    transform: rotateX(-580deg); /* 580 = 220 + 360 */
    transform-origin: 100% 25vw;
  } /* 6.5s: rotació tarda mig segon */
  100% {
    transform: rotateX(-580deg);
    transform-origin: 100% 25vw;
  }
}
@-webkit-keyframes ani-flip-3 {
  0% {transform: rotateX(0deg);}
  50% {transform: rotateX(0deg);} /* 6s: cauen les dues cadires i s'inicia la rotació */
  54.17% {
    transform: rotateX(-580deg); /* 580 = 220 + 360 */
    transform-origin: 100% 25vw;
  } /* 6.5s: rotació tarda mig segon */
  100% {
    transform: rotateX(-580deg);
    transform-origin: 100% 25vw;
  }
}
@-moz-keyframes ani-flip-3 {
  0% {transform: rotateX(0deg);}
  50% {transform: rotateX(0deg);} /* 6s: cauen les dues cadires i s'inicia la rotació */
  54.17% {
    transform: rotateX(-580deg); /* 580 = 220 + 360 */
    transform-origin: 100% 25vw;
  } /* 6.5s: rotació tarda mig segon */
  100% {
    transform: rotateX(-580deg);
    transform-origin: 100% 25vw;
  }
}

/* flip speed goes here */
/* assigno classe particular .flipper-3, diferent de .flipper */
.flipper-3 {
	/* transition: 0.6s; */
	transform-style: preserve-3d;
	position: relative;
}

/* Dimensions de la galeta */
.flip-container-3, .front-3, .back-3 {
  border-radius: 50%;
	width: 50vw;
	height: 63.33vw;
}

.front-3 {
	background-image: url(../img/0883-Tarima-clara-500x500.jpg);
  object-fit: cover;
}

/* hide back of pane during swap */
.front-3, .back-3 {
	backface-visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
}

/* front pane, placed above back */
.front-3 {
	z-index: 2;
	/* for firefox 31 */
	transform: rotateX(0deg);
}

/* back, initially hidden pane */
.back-3 {
	transform: rotateX(180deg);
  background-color: var(--granate);
  display: table;
}

/* Text dors */
.text-back {
  display: table-cell;
	vertical-align: middle;
}
.back-3 h3 {
  padding: 5vw;
  font-size: 2.5rem;
  color: rgb(255, 255, 255);
  text-align: center;
}

/* Cadires */
.cadira-escenari-3 {
  width: 41.67vw;
}
.cadira-escenari-3 img {
  max-width: 100%;
}

#cadira-31 {
  position: fixed;
  /* top: 18.5vmin; */
  right: 40vw;
  top: -40vh;
  z-index: 2;
  /* animation: ani-cad-31 12s ease-in 2s both; /* ease-in: inici lent, final ràpid
  -webkit-animation: ani-cad-31 16s ease-in 2s both;
  -moz-animation: ani-cad-31 16s ease-in 2s both; */
}
@keyframes ani-cad-31 {
  /* Durada de les caigudes: 0.25 segons */
  0% {top: -40vh;} /* Inici: fora per dalt */
  16.67% {top: -40vh;} /* Comença a caure als 2 segons */
  18.75% {top: 48.5vh;} /* 2.25s Tarda en caure 0.25s */
  50% {top: 48.5vh;} /* 6s: cau la tarima */
  52.08% {top: 105vh;} /* 6.25s Tarda un quart de segon en caure */
  100% {top: 105vh;} /* 12s: va a petar per sota la pantalla */
}
@-webkit-keyframes ani-cad-31 {
  /* Durada de les caigudes: 0.25 segons */
  0% {top: -40vh;} /* Inici: fora per dalt */
  16.67% {top: -40vh;} /* Comença a caure als 2 segons */
  18.75% {top: 48.5vh;} /* 2.25s Tarda en caure 0.25s */
  50% {top: 48.5vh;} /* 6s: cau la tarima */
  52.08% {top: 105vh;} /* 6.25s Tarda un quart de segon en caure */
  100% {top: 105vh;} /* 12s: va a petar per sota la pantalla */
}
@-moz-keyframes ani-cad-31 {
  /* Durada de les caigudes: 0.25 segons */
  0% {top: -40vh;} /* Inici: fora per dalt */
  16.67% {top: -40vh;} /* Comença a caure als 2 segons */
  18.75% {top: 48.5vh;} /* 2.25s Tarda en caure 0.25s */
  50% {top: 48.5vh;} /* 6s: cau la tarima */
  52.08% {top: 105vh;} /* 6.25s Tarda un quart de segon en caure */
  100% {top: 105vh;} /* 12s: va a petar per sota la pantalla */
}

#cadira-32 {
  position: fixed;
  top: -40vh;
  right: 20vw;
  z-index: 2;
  /* animation: ani-cad-32 12s ease-in 2s both; /* ease-in: inici lent, final ràpid
  -webkit-animation: ani-cad-32 16s ease-in 2s both;
  -moz-animation: ani-cad-32 16s ease-in 2s both; */
}
@keyframes ani-cad-32 {
  /* Durada de les caigudes: 0.25 segons */
  0% {top: -40vh;} /* Inici: fora per dalt */
  33.33% {top: -40vh;} /* Comença a caure als 4 segons */
  35.42% {top: 48.5vh;} /* 4.25s Tarda en caure 0.25s */
  50% {top: 48.5vh;} /* 6s: cau la tarima */
  52.08% {top: 105vh;} /* 6.25s Tarda un quart de segon en caure */
  100% {top: 105vh;} /* 12s: va a petar per sota la pantalla */
}
@-webkit-keyframes ani-cad-32 {
  /* Durada de les caigudes: 0.25 segons */
  0% {top: -40vh;} /* Inici: fora per dalt */
  33.33% {top: -40vh;} /* Comença a caure als 4 segons */
  35.42% {top: 48.5vh;} /* 4.25s Tarda en caure 0.25s */
  50% {top: 48.5vh;} /* 6s: cau la tarima */
  52.08% {top: 105vh;} /* 6.25s Tarda un quart de segon en caure */
  100% {top: 105vh;} /* 12s: va a petar per sota la pantalla */
}
@-moz-keyframes ani-cad-32 {
  /* Durada de les caigudes: 0.25 segons */
  0% {top: -40vh;} /* Inici: fora per dalt */
  33.33% {top: -40vh;} /* Comença a caure als 4 segons */
  35.42% {top: 48.5vh;} /* 4.25s Tarda en caure 0.25s */
  50% {top: 48.5vh;} /* 6s: cau la tarima */
  52.08% {top: 105vh;} /* 6.25s Tarda un quart de segon en caure */
  100% {top: 105vh;} /* 12s: va a petar per sota la pantalla */
}


/* MQ format horitzontal */
@media only screen and (orientation: landscape) {
  #conjunt-2 {
    display: block;
  }
}

/* MQ format horitzontal */
@media only screen and (orientation: portrait) {
  #conjunt-3 {
    display: block;
  }
}



/*** B. QUI SOM ############################***/

div.titol {
  margin-top: 5rem;
}

div.descripcio-3C {
  float: left;
  padding: 1.875rem; /* 30px */
  width: 33.3%;
  background-color: rgb(255, 255, 255);
}

div.imatge {
  float: left;
  width: 33.3%;
  padding: 1.875rem; /* 30px */
}

div.imatge img {
  width: 100%;
  border: 1.5px solid var(--granate);
}

div.descripcio-2C-1C,
div.descripcio-2C-nomes,
div.descripcio-1C-nomes {
  display: none;
}


/** Media queries < 768px passem a 2 columnes **/

@media only screen and (max-width:768px) {
  div.descripcio-3C {
    display: none;
  }
  div.descripcio-2C-1C,
  div.descripcio-2C-nomes {
    display: block;
    float: left;
    padding: 1.875rem; /* 30px */
    width: 50%;
    background-color: rgb(255, 255, 255);
  }
  div.imatge {
    float: right;
    width: 50%;
  }
  div.imatge img {
    border: 1.2px solid var(--granate);
  }
}

/* MQs Ajustos formats verticals tablets (són els mateixos que per <768) */
@media only screen and (orientation:portrait) {
  div.descripcio-3C {
    display: none;
  }
  div.descripcio-2C-1C,
  div.descripcio-2C-nomes {
    display: block;
    float: left;
    padding: 1.875rem; /* 30px */
    width: 50%;
    background-color: rgb(255, 255, 255);
  }
  div.imatge {
    float: right;
    width: 50%;
  }
  div.imatge img {
    border: 1.2px solid var(--granate);
  }
}

/** Media queries < 480px passem a 1 columna **/
@media only screen and (max-width:480px) {
  div.descripcio-2C-nomes {
    display: none;
  }
  div.descripcio-2C-1C,
  div.descripcio-1C-nomes {
    display: block;
    float: left;
    padding: 0.9375rem 1.875rem; /* 15px 30px */
    width: 100%;
    background-color: rgb(255, 255, 255);
  }
  div.imatge {
    float: left;
    width: 100%;
    padding: 0.9375rem 1.875rem; /* 15px 30px */
  }
}

/*** C: PARALLAX ***/

section.fustes {
  position: relative;
  height: auto;
}
section.fustes::before {
  background-image: url(../img/DSC_0883-Tarima-dalt-1200.jpg);
  content: '';
}

div.auxiliar {
  position: relative;
  margin: 0;
  padding: 1.25rem 3.125rem; /* 20px 50px */
}

div.descripcioB-3C{
  float: left;
  width: 33.3%;
  padding: 1.875rem; /* 30px */
}
div.descripcioB-3C p{
  color: rgb(255, 255, 255);
}
div.descripcioB-2C{
  display: none;
}

/** Media queries < 768px **/

@media only screen and (max-width:768px) {
  div.descripcioB-3C {
    display: none;
  }
  div.descripcioB-2C {
    display: block;
    float: left;
    padding: 1.875rem; /* 30px */
    width: 50%;
  }
  div.descripcioB-2C p{
    color: rgb(255, 255, 255);
  }
}

@media only screen and (max-width:481px) {
  div.descripcioB-2C {
    padding: 0.9375rem 1.875rem; /* 15px 30px */
    width: 100%;
  }
}

/*** D. CATALEG ***/

div.quadricula {
  width: auto;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 33.3% 33.3% 33.3%;
}

/** Media queries per quadrícula: passem a 2 columnes a <992px **/

@media only screen and (max-width:992px) {
  div.quadricula {
    display: grid;
    grid-template-columns: 50% 50%;
  }
}

section#cataleg h4 {
  text-align: left;
}

div.producte {
  width: auto;
  padding: 1.875rem; /* 30px */
}

div.imatge-cataleg {
  margin: 0.625rem; /* 10px */
  position: relative;
}

div.imatge-cataleg img {
  width: 100%;
}

/* efecte sobre icona expandir */
.expandir {
  color: var(--granate);
  font-size: 1rem;
  position: absolute;
  right: 8%;
  bottom: 8%;
}

/** ombres hover **/

.hover-shadow {
  transition: 0.6s ease;
}

.hover-shadow:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/** Media queries per mòbil: 1 sola columna per <=480px i filet inferior **/

@media only screen and (max-width:480px) {
  div.quadricula {
    display: grid;
    grid-template-columns: 100%;
  }
  div.producte:first-child {
    margin-top: 1.5rem;
    border-top: 1px solid var(--granate);
  }
  div.producte {
    border-bottom: 1px solid var(--granate);
  }
  div.producte:last-child {
    border-bottom: none;
  }
  section#cataleg h4 {
    padding-top: 0.5rem;
  }
}


/*** myModal ***/

/* The Modal (background) */

.modal,
.modal2,
.modal3,
.modal4,
.modal5,
.modal6,
.modal7,
.modal8,
.modal9,
.modal11,
.modal12,
.modal13,
.modal14,
.modal15,
.modal16 {
    display: none;
    position: fixed;
    z-index: 1;
    left: calc(50vw - 45vmin);
    top: calc(50vh - 45vmin);
    width: 90vmin;
    height: 90vmin;
    overflow: auto;
    background-color: var(--granate);
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.2), 0 0.75rem 1.25rem 0 rgba(0, 0, 0, 0.19); /* 0 8px 16px 0, 0 12px 20px 0 */
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  width: 100%;
  height: 100%;
  padding: 0;
}

/* imatges modals */
.center {
  display: block;
  width: 100%;
  height: 100%;
  background-size: cover;
}

/* The Close Button */
.close {
  color: var(--granate);
  position: absolute;
  z-index: 2;
  top: 0.5rem; /* 8px */
  right: 1.125rem; /* 18px */
  font-size: 1.875rem; /* 30px */
  font-weight: bold;
  transition: 0.6s ease;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

.mySlides {
  display: none;
}

.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  padding: 0.75rem; /* 12px */
  margin-top: -3.125rem; /* -50px */
  color: var(--granate);
  font-weight: bold;
  font-size: 1.875rem; /* 30px */
  transition: 0.6s ease;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  color: #999;
}

/* Number text (1/3 etc) */
.numbertext {
  color: var(--granate);
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1.25rem; /* 20px */
  padding: 0.625rem 0.75rem; /* 10px 12px */
  position: absolute;
  top: 0;
}

/* MQ x fer més grans botons del modal en format mòbil */
@media only screen and (max-width:481px) {
  .close {
    font-size: 3.125rem; /* 50px */
  }
  .prev,
  .next {
    font-size: 3.125rem; /* 50px */
  }
  .numbertext {
    font-size: 1.5rem;
    padding: 1.5rem 0.75rem;
  }
}






/** F. CONTACTE **/

div.mesmarge {
  margin-top: 5rem;
}

div.adressa {
  float: left;
  padding: 1.875rem; /* 30px */
  width: 50%;
}
div.adressa img {
  height: 15vw;
  width: auto;
}
div.adressa h4 {
  margin-top: 1.5rem;
  color: rgb(255, 255, 255);
}
div.adressa p {
  margin-top: 1rem;
  color: rgb(255, 255, 255);
}

div.foto-malda {
  float: right;
  padding: 1.875rem; /* 30px */
  width: 50%;
  height: auto;
}
div.foto-malda img {
  max-width: 100%;
  height: auto;
}
div.foto-malda p {
  margin-top: 0.5rem;
  text-align: right;
  font-style: italic;
  color: rgb(255, 255, 255);
}

div.seguiunos {
  margin: 3rem auto 7rem auto;
}
div.seguiunos h3 {
  text-align: center;
  color: rgb(255, 255, 255);
  margin-bottom: 2rem;
}

nav.xarxes-footer {
  margin-bottom: 1.25rem; /* 20px */
  text-align: center;
}
nav.xarxes-footer i {
  color: rgb(255, 255, 255);
  padding: 0 0.9375rem; /* 15px */
  font-size: 1.5625rem; /* 25px */
  transition: all .5s ease-in-out;
}
nav.xarxes-footer i:hover {
  transform: scale(1.2);
}


div.legal p{
  text-align: center;
  padding-bottom: 1.875rem;
  color: rgb(255, 255, 255);
}


/* MQ: per sota <600px foto gran i recomposició logo+adreça */
@media only screen and (max-width:600px) {
  div.foto-malda {
    width: 100%;
  }
  div.adressa {
    width: 100%;
  }
  div.adressa img {
    float: left;
    height: auto;
    width: 30%;
    padding-right: 1.875rem;
  }
  div.text-adressa {
    float: right;
    width: 70%;
    height: auto;
  }

  /*trec marge superior h4 */
  div.adressa h4 {
    margin-top: 0;
  }

  /* redueixo cos peu foto i legal */
  div.foto-malda p,
  div.legal p {
    font-size: 8px!important;
  }
}


/* ==================================================
Helper classes
=============================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */


@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster */
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
